body {
    margin: 0;

    background-color: #272727;

    font-family: 'Trebuchet MS', Calibri, Arial;
    color: #dddddd;
}

header {
    padding: 50px;
    background-image: linear-gradient(#000, #171717);

    font-size: 36px;
    text-align: center;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

article {
    margin: 20px;
    padding: 15px;

    border: 2px solid #dddddd;
    border-radius: 10px;
}